
.projects-navbar{
  text-align: center;
  
}

.projects-links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-links a{
  padding: 0 20px 0 20px;
}

.list-container{
  overflow-y: auto;
  margin-top: 30px;
  width: 100%;
  height: calc(100vh - 200px);
}

.list-item{
  display: flex;
  padding: 10px 50px 40px 50px;
}

img{
  max-width: 100%;
  width: 60vw;
}

.list-images{
  position: relative;
}

.list-image-home{
  position: relative;
}

.list-image-main{
  position: absolute;
  left: 0;
  top: 0;
  transition: all .6s ease-in-out;
}

.list-description {
  padding-left: 40px;
  display: flex;
 
  justify-content: center;
  align-items: center;
}


.list-image-main:hover{
  opacity: 0;
}